@import "userColorScheme.css";
@import "userHighlightColor.css";


/* Toolbars */
:root {
  --toolbar-bgcolor: var(--bg1) !important;
  --toolbar-color: var(--fg) !important;
  --toolbar-field-color: var(--fg) !important;
  --toolbar-field-focus-color: var(--fg) !important;
  --toolbar-field-focus-background-color: rgb(from var(--bg) r g b / 0.9) !important;

  --toolbarbutton-active-background: var(--fg) !important;
  --toolbarbutton-hover-background: var(--bg2) !important;
  --toolbarbutton-icon-fill-attention: var(--blue) !important;
  --toolbarbutton-icon-fill: var(--accent-color) !important;
}

toolbarbutton:active,
toolbarbutton[open] {
  color: var(--bg) !important;
}

/* Tabs */
:root {
  --tab-hover-background-color: var(--bg2) !important;
  --tab-selected-bgcolor: var(--bg1) !important;
  --tab-selected-textcolor: var(--fg) !important;
  --tab-selected-outline-color: var(--accent-color) !important;
}

#TabsToolbar {
  background-color: var(--bg) !important;
  color: var(--fg) !important;
}

.close-icon {
  color: var(--accent-color) !important;
}

/* URL bar */
:root {
  --urlbar-box-bgcolor: var(--bg2) !important;
  --urlbarView-highlight-background: var(--fg) !important;
  --urlbarView-highlight-color: var(--bg) !important;
  --urlbarView-hover-background: var(--bg2) !important;
}

#urlbar[focused] > #urlbar-background,
#urlbar[open] > #urlbar-background {
  border: none !important;
  box-shadow: none !important;
}

/* Panels */
:root {
  --arrowpanel-background: var(--bg2) !important;
  --arrowpanel-border-color: transparent !important;
  --arrowpanel-color: var(--fg) !important;
  --button-background-color-active: var(--fg) !important;
  --button-background-color-hover: var(--bg1) !important;
  --button-text-color: var(--fg) !important;
}

/* Tooltips */
tooltip {
  /* Unable to figure out how to change the background of the whole tooltip :( */
  color: light-dark(var(--bg), var(--fg)) !important;
}

/* General */
:root {
  --focus-outline-color: var(--blue) !important;
  --link-color: var(--blue) !important;
  --text-color: var(--fg) !important;
  --text-colo-deemphasized: var(--fg1) !important;
  --text-color-disabled: var(--fg4) !important;
}

*,
*::before,
*::after {
  font-family: FiraCode Nerd Font Mono;
}

toolbox#navigator-toolbox {
  border: 0 !important;
}
