@theme "common"

mainbox {
    children: [listview, message-bar];
}

message-bar {
    expand: false;
    orientation: horizontal;
    children:   [prompt, textbox-prompt-sep, message];
    padding: 0 0 0 0.5em;
}
message {
    expand: true;
}
