@theme "gruvbox-dark"

configuration {
	font: "FiraCode Nerd Font Mono 16";
	terminal: "alacritty";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

* {
  scrollbar: false;
}

window {
  border: none;
  border-radius: 10px;
  padding: 0;
}

listview {
  spacing: 0;
}

element {
  padding: 10px;
}

inputbar {
  padding: 10px;
}
