@theme "common"

configuration {
    terminal: "alacritty";
    sort: true;
    sorting-method: "fzf";
    display-run: " run";
}

mainbox {
    children: [listview, input-box];
}

input-box {
    expand: false;
    children: [inputbar, message];
}

inputbar {
    padding: 0 0 0 0.5em;
    spacing: 0;
    children: [prompt, textbox-prompt-sep, entry];
}
entry {
    cursor-width: 1ch;
    blink: false;
}

listview {
    fixed-height: true;
    lines: 6;
}
