@theme "common"

mainbox {
    children: [message-bar, listview];
}

message-bar {
    expand: false;
    orientation: horizontal;
    spacing:    0;
    children:   [prompt, textbox-prompt-sep, message];
    padding:        0.5em;
}
message {
    expand: true;
}

textbox {
    background-color: inherit;
    text-color: inherit;
}
